.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

input {
  min-width: 180px;
}

/* Шапка */
body {
  margin: 0px;
}
.head_bl {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(158, 228, 255);
}

p {
  margin: 0px;
  display: inline;
  margin-left: 43%;
  margin-right: 30%;
  font-size: 18px;
}

.return {
  display: inline;
  height: 50px;
  top: 0px;
}

/* Таблица */
.table {
  width: 80%;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid rgb(158, 228, 255);
  font-size: 15px;
  background: #fff !important;
}
.table th {
  font-weight: bold;
  padding: 7px;
  background: rgb(158, 228, 255);
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid rgb(158, 228, 255);
}
.table td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}

.table thead tr th {
  text-align: center;
}

.table tbody tr td {
  text-align: center;
}

/* Кнопки */
.del,
.addbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 250px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #0c83d3;
  background-color: #d9f0ff;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.del:focus-visible,
.addbtn:focus-visible {
  box-shadow: 0 0 0 2px #666;
}
.del:hover,
.addbtn:hover {
  background-color: #cde1f0;
}
.del:active,
.addbtn:active {
  transform: scale(0.96);
}
.del:disabled,
.addbtn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

#exit {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  transition: 0.2s;
}
#exit:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
#exit:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

/* Форма */
.new {
  width: 260px;
}

form {
  margin-top: 10px;
}

.enter {
  margin-left: 10px;
}

.addbtn {
  margin-left: 15%;
  min-width: 130px;
  margin-bottom: 10px;
  width: auto;
}

.nu {
  margin-left: 40%;
}
