body{
    background-image: url(../images/fon_index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height:100%;
    background-size:cover;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header{
    width: 100%;
    height: 80px;
    background: #373c43;
}

#auth{
    margin-left: auto;
    margin-right: 0;
    max-width: 400px;
    padding-top: 20px;
}

.auth-button {
    width: 180px;
    padding: 10px;
    background: #595e66;
    text-align: center;
    font-size: 16px;
    border: 0ch;
    color: #fff;
}

.auth-button:hover {
    background: #70767d;
}

.news{
    display: grid;
    place-items: center;
}

.block{
    width: clamp(40%, 50%, 80%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.7);
    margin: 20px;
}

.image-div{
    width: 100%;
}

.title{
    font-size: 30px;
    margin: 15px 0px 10px 0px;
    font-weight: 600;
    font-family: Consolas;
}

.text{
    font-size: 20px;
}

.footer{
    display: flex;
    font-size: 16px;
    margin-top: 10px;
}

.fraza{
    font-style: italic;
}