body {
    font-size: 16px;
    background-image: url(../images/fon_lk.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height:100%;
    background-size:cover;
    justify-content: center;
    align-items: center;
    user-select: none;
}

p{
    font-size: 30px;
    margin: 0;
    padding: 5px;
}

.main{ 
    width: 900px;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    /*text-align: center;*/
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: minmax(300px, 33%) 1fr;
}

#button {
    width: 150px;
    padding: 5px;
    background: #aca5f0;
    text-align: center;
    border: 0ch;
    min-width: 98px;
    color: #fff;
    margin-left: 90px;
}

#button:hover {
    background: blueviolet;
}

.for_foto{
    /*background: #caadf7;*/
}

.avatar{
    width: 200px;
    height: 200px;
    background: #bec5c8;
    margin: 10px;
}
.data{
    position: relative;
}

.for_buttons{
    width: 210px;
    height: 195px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.lk-button{
    width: 200px;
    padding: 5px;
    background: #575761;
    text-align: center;
    border: 0ch;
    color: #fff;
    margin: 5px;
    font-size: 16px;
}

.lk-button:hover{
    background: #808f9f;
}

.input-foto{
    width: 280px;
    padding: 5px;
    background: #575761;
    text-align: center;
    border: 0ch;
    color: #fff;
    margin: 10px;
    font-size: 16px;
}

.input-foto:hover{
    background: #808f9f;
}

.user-data{
    padding-top: 30px;
    height: 280px;
    margin: 10px;
}

#hide{
    visibility: hidden;
}

.avatar-wrapper{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
}
.avatar-wrapper:hover{
     transform: scale(1.05);
     cursor: pointer;
}
.avatar-wrapper:hover .profile-pic{
     opacity: .5;
 }
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}
.avatar-wrapper .profile-pic:after{
     font-family: FontAwesome;
     content: "\f007";
     top: 0; left: 0;
     width: 100%;
     height: 100%;
     position: absolute;
     font-size: 190px;
     background: #ecf0f1;
     color: #34495e;
     text-align: center;
 }

.avatar-wrapper .upload-button{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up{
    position: absolute;
    font-size: 230px;
    top: -15px;
    left: 1px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up{
     opacity: .9;
 }

.error{
    text-align: center;
    color: #f33;
    margin: 2px;
    font-size: 22px;
}