body {
    font-size: 16px;
    background-image: url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height:100%;
    background-size:cover;
    justify-content: center;
    align-items: center;
}

.main{ 
    width: 330px;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    text-align: center;
    height: 330px;
    margin: auto;
    margin-top: 180px;
    background: rgba(255, 255, 255, 0.85);
}

h2{
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}

#button {
    width: 98px;
    padding: 5px;
    background: #88cfad;
    text-align: center;
    border: 0ch;
    min-width: 98px;
    color: #fff;
}

#button:hover {
    background: #4bad7e;
}

input{
    padding:10px;
    margin:10px 0;
    width:200px;
}

.error{
    color: #f33;
    margin: 0;
}

.a{
    color: #009959;
}

#log-error{
    width:200px;
    text-align: left;
    margin-left: 55px;
}