body {
    font-size: 16px;
    background-image: url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height:100%;
    background-size:cover;
    justify-content: center;
    align-items: center;
}

.main{ 
    width: 320px;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    text-align: center;
    height: 450px;
    background: white;
    margin: auto;
    margin-top: 140px;
    opacity: 0.85;
}

h2{
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}

h3{
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}

#button {
    width: 150px;
    padding: 5px;
    background: #88cfad;
    text-align: center;
    border: 0ch;
    min-width: 98px;
    color: #fff;
    margin-left: 35px;
}

#button:hover {
    background: #4bad7e;
}

input{
    padding:10px;
    margin:10px 0;
    width:200px;
}

.error{
    color: #f33;
    margin: 2px;
    font-size: 12px;
    text-align: left;
}

form{
    text-align: left;
    margin-right: 40px;
}

#successful{ 
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin: auto;
    flex-wrap: wrap;
}

.bb{
    margin-left: 60px;
}

.margin{
    margin-left: 50px;
    margin-right: 50px;
}

.a{
    color: #009959;
}

.result{
    width: 600px;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    text-align: center;
    height: 140px;
    background: white;
    margin: auto;
    margin-top: 280px;
    opacity: 0.85;
}